h2 DTCO Parameterisation, Adaption and Tolerance Check

fieldset
  header
    h3 Calibrate the VU – Measuring the ‘W’ and ‘L'
  section
    button.button.large-button.primary.full-size Measure 'W' and 'L'
  section
    button.button.large-button.primary.full-size Check, Confirm and Update Legal Parameters of VU and Check Date and UTC Time
  section
    button.button.large-button.primary.full-size Perform a Distance Test to Check the VU Odometer
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
