h2 Measurement type
br

fieldset
  section
    .grid
      .row.cells12
          .cell.colspan6
            label.input-control.radio
              input(type='radio', name='radio1', checked='checked')
              span.check
              span.caption  Test Track
          .cell.colspan6
            label.input-control.radio
              input(type='radio', name='radio1')
              span.check
              span.caption  Rolling Road
        
  br
  br
  br
  section
    header
      h3 Wizard type
    .grid
      .row.cells12
          .cell.colspan6
            label.input-control.radio
              input(type='radio', name='radioUkMtco')
              span.check
              span.caption  Initial 6 Year Calibration Wizard
          .cell.colspan6
            label.input-control.radio
              input(type='radio', name='radioUkMtco', checked='checked')
              span.check
              span.caption  2 Year Inspection Wizard

        
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
        .cell
        .cell
          button.button.large-button.primary.full-size Next
