h2 Tachograph Record Sheet and Calibration Plaque

fieldset
  section
    button.button.large-button.primary.full-size Produce 2 Year Tachograph Record Sheet and Calibration Plaque
  section.even
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Check data has been recorded correctly on GV212
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Backup data
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Remove all existing 2 year inspection plaques
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Attach 2 Year Inspection Plaque to vehicle door pillar
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Seal 2 Year Inspection Plaque
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Retain test chart and Tachograph Record Sheet

  
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Finish
