.app-panel
    .flex-grid.flex-start-menu
        .row
          a.cell.size4(href='/wizard_spain/step-1.html')
            span Spanish wizard
          a.cell.size4(href='/wizard_ge/index.html')
            span
                | Germany wizard 
                br
                |  DTCO
          a.cell.size4(href='/wizard_uk/index.html')
            span UK Wizard
                br
                |  DTCO
        .row
          a.cell.size4(href='/wizard_sp_tco/step-1.html')
            span
                | Spanish wizard 
                br
                |  TCO
          a.cell.size4(href='/wizard_ge_mtco/index.html')
            span
                | Germany wizard
                br
                | MTCO
          a.cell.size4(href='/wizard_uk_mtco/index.html')
            span UK Wizard
                br
                | MTCO
        .row
          a.cell.size4(href='/wizard_fr/step-1.html')
            span
              | French wizard 
          a.cell.size4(href='#')
            span
          a.cell.size4(href='#')
            span 
