h2 MTCO Parameterisation, Adaption and Tolerance Check
fieldset
  section.clearfix
    .text-box-block
      | 'Check the following parameter and actualise if required: odometer value, VIN, installation date, date (next) calibration, TCO parameter n-Constant, TCO parameter drive shaft I/U, TCO parameter configuration, TCO parameter sealing number, TCO parameter serial number
    button.button.large-button.primary.right-pull  Check, confirm or update legal parameters of VU and Check date and UTC time    
    .pull-left-tip
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  
  



fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
