h2 Testing of Device’s Functions
fieldset
  //- a.popup-modal(href='#test-modal') Hint!!
  //- #test-modal.mfp-hide.white-popup-block
  //-     h1 Hint
  //-     p
  //-       | Voluptatibus rerum distinctio quam, magnam veniam necessitatibus reiciendis sunt qui, possimus provident autem dolore, obcaecati numquam similique sed cumque.
  //-     p
  //-       a.popup-modal-dismiss(href='#') Dismiss
  //- br
  //- br
  section.even
    label.input-control.checkbox
      input(type='checkbox', name='checkbox1')
      span.check.place-right
      span.caption  
        | Menu 1: Push the (M)-Button and controll the time 
        a.popup-modal.clicktips(href='#test-modal-1') ?
        #test-modal-1.mfp-hide.white-popup-block
          h3 Description
          p Check the system time and date, deviations are corrected later with the WorkshopTab.<br>Push and hold the (M)-button, simultaneously switch on the ignition. Process must be completed within 2 seconds<br>After switching on the ignition let go the (M)-button
            .clearfix
            a.button.large-button.primary.popup-modal-dismiss(href='#') Close
  
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  
        | Menu 2: Controll the Error Memory 
        a.popup-modal.clicktips(href='#test-modal-2') ?
        #test-modal-2.mfp-hide.white-popup-block
          h3 Description
          p Go trough to the error memory in the list and follow the handling instruction. <b>Replace the MTCO if the error memory 9060, 9061, 9062 or 9063 displayed.</b> It may be queued no current fault.
            .clearfix
            a.button.large-button.primary.popup-modal-dismiss(href='#') Close

    label.input-control.checkbox
      input(type='checkbox', name='checkbox3')
      span.check.place-right
      span.caption  
        | Menu 3: Begin/End of Summertime
        a.popup-modal.clicktips(href='#test-modal-3') ?
        #test-modal-3.mfp-hide.white-popup-block
          h3 Description
          p There must be set at least the switcging times for the next two years. If not, they need to updated later with the WorkshopTab.
            .clearfix
            a.button.large-button.primary.popup-modal-dismiss(href='#') Close
    
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
