h2 Measure ‘W’ and ‘L’ 
fieldset
  section.clearfix
    .text-box-block At this point it’s depending of the measurement method<br>Street: - Measure dynamic e.g with the Tyre Meter and program tire circumference (l figures)<br>- Measure and program vehicle constant (w figures). <ul><li>Important hint: program w-value always with the next step.</li></ul><br>Bench: - Measure dynamic e.g with the Tyre Meter and program tire circumference (l figures)<br>- Vehicle stand on the roller, let roller run<br>- Start the w/l Calibration and follow the instruction the menue<br>- When the measurement is finished, roller stop<br>- <b>Watch display, the WorkshopTab shows the determined correction value, please note to fill in these later in the Report</b><br>- Adapt w-k<br><ul><li>With the adaption the l-value is also adopted in the DTCO</li></ul><b>If required, the vehicle can leave the roller bench again</b>

    button.button.large-button.primary.right-pull  Measure ‘W’ and ‘L’    
    .pull-left-tip
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
