h2 Test Track 
fieldset

  section.clearfix
    .text-box-block Before starting the test drive, delete the error memory!<br>Drive a test track with a distance if min. 1 km with a inlaid TCO chart<ul><li>Check the uniform display of the cluster</li><li>Monitor the display of the device</li><li>Check the additional functions</li></ul>Finish the test track<br><ul><li>Evaluate records</li></ul>Diplay the error memory, there must be no new error in memory
    button.button.large-button.primary.right-pull  Test Track   
    .pull-left-tip
     
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
        br
        br
        br

   

   section.clearfix
      .text-box-block Sealing the test- & program interface<br>Check the sealing of the KITAS if necessary new seal.<br>Recommendation: Take new seals for the complete control device<br>
      label.input-control.checkbox
        input(type='checkbox', name='checkbox2')
        span.check.place-right
        span.caption(style="padding-right:15px")  Emboss the sealings
  



fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
