h2 MTCO Parameterisation, Adaption and Tolerance Check
fieldset
  section.clearfix
    button.button.large-button.primary.right-pull  Check, confirm or update legal parameters of VU and Check date and UTC time    
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal') ?
      #test-modal.mfp-hide.white-popup-block
          h3 Check, confirm or update legal parameters of VU and Check date and UTC time 
          p
            | Check the following parameter and actualise if required: odometer value, VIN, installation date, date (next) calibration, TCO parameter n-Constant, TCO parameter drive shaft I/U, TCO parameter configuration, TCO parameter sealing number, TCO parameter serial number
          p
            .clearfix
            a.button.large-button.primary.popup-modal-dismiss(href='#') Close
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  section.clearfix
    button.button.large-button.primary.right-pull  Measure ‘W’ and ‘L’    
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-2') ?
      #test-modal-2.mfp-hide.white-popup-block
          h3 Measure ‘W’ and ‘L’
          p
            | At this point it’s depending of the measurement method<br>Street: - Measure dynamic e.g with the Tyre Meter and program tire circumference (l figures)<br>- Measure and program vehicle constant (w figures). <ul><li>Important hint: program w-value always with the next step.</li></ul><br>Bench: - Measure dynamic e.g with the Tyre Meter and program tire circumference (l figures)<br>- Vehicle stand on the roller, let roller run<br>- Start the w/l Calibration and follow the instruction the menue<br>- When the measurement is finished, roller stop<br>- <b>Watch display, the WorkshopTab shows the determined correction value, please note to fill in these later in the Report</b><br>- Adapt w-k<br><ul><li>With the adaption the l-value is also adopted in the DTCO</li></ul><b>If required, the vehicle can leave the roller bench again</b>
          p
            .clearfix
            a.button.large-button.primary.popup-modal-dismiss(href='#') Close
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  section.clearfix

    button.button.large-button.primary.right-pull  MTCO Check    
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-3') ?
      #test-modal-3.mfp-hide.white-popup-block
          h3 MTCO Check 
          p
            | Measure the accuracy of the odometer (device tolerance test). Max. failure +/- 1 %<br>Check the time deviation of the clock. Max. failure +/- 2 minutes per day or +/- 10 minutes in 7 days.<br>Measure the accuracy of the speed display (device tolerance test) with the function “Variable Speed”. Measurement points: 20, 80 and 180 km/h. Max. failure +/- 3 km.<br>Test chart: Prepare and insert the tachograph charts (Attention to measuring range!)<br>Start the test chart<br>Evaluate the test chart<br>
          p
            .clearfix
            a.button.large-button.primary.popup-modal-dismiss(href='#') Close
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  section.clearfix
    button.button.large-button.primary.right-pull  Test Track   
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-4') ?
      #test-modal-4.mfp-hide.white-popup-block
          h3 Test Track 
          p
            | Before starting the test drive, delete the error memory!<br>Drive a test track with a distance if min. 1 km with a inlaid TCO chart<ul><li>Check the uniform display of the cluster</li><li>Monitor the display of the device</li><li>Check the additional functions</li></ul>Finish the test track<br><ul><li>Evaluate records</li></ul>Diplay the error memory, there must be no new error in memory
          p
            .clearfix
            a.button.large-button.primary.popup-modal-dismiss(href='#') Close
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  

fieldset
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption(style="padding-right:15px")  Emboss the sealings
      a.popup-modal.clicktips(href='#test-modal-5') ?
      #test-modal-5.mfp-hide.white-popup-block
          h3 Emboss the sealings
          p
            | Sealing the test- & program interface<br>Check the sealing of the KITAS if necessary new seal.<br>Recommendation: Take new seals for the complete control device<br>
          p
            .clearfix
            a.button.large-button.primary.popup-modal-dismiss(href='#') Close

fieldset.onbottom.white
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
