h2 MTCO Check 
fieldset
  
  section.clearfix
    .text-box-block Measure the accuracy of the odometer (device tolerance test). Max. failure +/- 1 %<br>Check the time deviation of the clock. Max. failure +/- 2 minutes per day or +/- 10 minutes in 7 days.<br>Measure the accuracy of the speed display (device tolerance test) with the function “Variable Speed”. Measurement points: 20, 80 and 180 km/h. Max. failure +/- 3 km.<br>Test chart: Prepare and insert the tachograph charts (Attention to measuring range!)<br>Start the test chart<br>Evaluate the test chart<br>
    button.button.large-button.primary.right-pull  MTCO Check    
    .pull-left-tip
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
