h2 Test Chart Production

fieldset
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Insert a compatible chart after completing centre field

  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Check clock, chart position time and chart warning function



  section
    button.button.large-button.primary.full-size Check Clock
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Disconnect and reconnect the main power supply to the tachograph

  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Disconnect and reconnect the impulse sensor cable

  section
    button.button.large-button.primary.full-size Produce Test Chart

  section
    button.button.large-button.primary.full-size Check Odometer

  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Remove charts and record odometer reading and difference

  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Check the chart using a chart analyser

  
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
