h2 Speed for Speed Check and Seal System

fieldset
  header
    section
      label.input-control.checkbox
        input(type='checkbox', name='checkbox2')
        span.check.place-right
        span.caption  Perform a test drive or speed for speed check

    section
      label.input-control.checkbox
        input(type='checkbox', name='checkbox2')
        span.check.place-right
        span.caption  Check Tachograph casing seals

    section
      label.input-control.checkbox
        input(type='checkbox', name='checkbox2')
        span.check.place-right
        span.caption  Seal sensor to gearbox

    section
      label.input-control.checkbox
        input(type='checkbox', name='checkbox2')
        span.check.place-right
        span.caption  Seal tachograph rear sealing cover (if applicable for speed limiter legislation)
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
