h2 Analogue Tachograph Calibration

fieldset
  section
    label.input-control.checkbox
      span.caption  Calibrate the Tachograph – Measuring the ‘W’ and ‘L'
  section
      button.button.large-button.primary.full-size Measure ‘W’ and ‘L'

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next
