h2 Dialogs
fieldset
  section
    .grid
       .row.cells6
        .cell.colspan3
          a.button.large-button.primary.full-size.popup-modal(href='#test-modal-1') Dialog #1
        .cell.colspan3
          a.button.large-button.primary.full-size.popup-modal(href='#test-modal-2') Dialog #2
    br
    section
      .grid
        .row.cells6
          .cell.colspan3
            a.button.large-button.primary.full-size.popup-modal(href='#test-modal-3') Dialog #3
          .cell.colspan3
            a.button.large-button.primary.full-size.popup-modal(href='#test-modal-4') Dialog #4
    section
      .grid
        .row.cells6
          .cell.colspan3
            a.button.large-button.primary.full-size.popup-modal(href='#test-modal-5') Dialog #5
          .cell.colspan3
            //- a.button.large-button.primary.full-size.popup-modal(href='#test-modal-4') Dialog #4








#test-modal-1.mfp-hide.white-popup-block.custom
  h3 Do you want to continue the uncompleted wizard?
  p Last modification date: 13/06/2016 <br>Vehicule: 90-PNB-25

  .clearfix
  .center-buttons
    a.button.large-button.primary.popup-modal-dismiss(href='#') Yes
    a.button.large-button.primary.popup-modal-dismiss(href='#') No: Start a new one!



#test-modal-2.mfp-hide.white-popup-block.custom
  p The vehicule is not compliant. Its status should be corrected to realize the inspection

  .clearfix
  .center-buttons
    a.button.large-button.primary.popup-modal-dismiss(href='#') Ok: Exit wizard 
    a.button.large-button.primary.popup-modal-dismiss(href='#') Canceled


#test-modal-3.mfp-hide.white-popup-block.custom
  h3 Exiting Wizard
  p Do you want to keep the datas already filled in the wizard ?

  .clearfix
  .center-buttons
    a.button.large-button.primary.popup-modal-dismiss(href='#') Yes
    a.button.large-button.primary.popup-modal-dismiss(href='#') No
    a.button.large-button.primary.popup-modal-dismiss(href='#') Cancelled



#test-modal-4.mfp-hide.white-popup-block.custom
  h3 Bluetooth link with RIM is lost
  p Check and try again.

  .clearfix
  .center-buttons
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close


#test-modal-5.mfp-hide.white-popup-block.custom
  h3 The roller bench beam is up
  p Do you want to make it down?

  .clearfix
  .center-buttons
    a.button.large-button.primary.popup-modal-dismiss(href='#') Yes
    a.button.large-button.primary.popup-modal-dismiss(href='#') No: Exit wizard
