h2 Measurement type
br

fieldset
  section
    .grid
      .row.cells12
          .cell.colspan6
            label.input-control.radio
              input(type='radio', name='radio1', checked='checked')
              span.check
              span.caption  Street
          .cell.colspan6
            label.input-control.radio
              input(type='radio', name='radio1')
              span.check
              span.caption  Roller bench
        


        
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
        .cell
        .cell
          button.button.large-button.primary.full-size Next
