h2 DTCO Calibration
fieldset
    section
        h4 Start the DTCO Calibration
        button.button.large-button.primary.full-size Start DTCO Calibration
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next