h2 Create inspection report
fieldset
    section
        h4 Disconnect the workshoplink from DTCO 
        | Create the inspection report
        br
        br
        button.button.large-button.primary.full-size Create inspection report
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Finish