h2 Vehicle datas checking

fieldset.custom
  section
    .grid
      .row.cells12
          .cell.colspan6
            label.input-control.radio
              input.wizzard-change(type='radio', name='radio1', checked='checked')
              span.check
              span.caption For all
          .cell.colspan6
            label.input-control.radio
              input.wizzard-change(type='radio', name='radio1', onchange='goToE1();')
              span.check
              span.caption  It is a E1
  br
  br
  br
  br

  section
      .grid
          .row.cells6
              .cell.colspan4
                  h4.ontop VRN number compliant 
        
                    a.popup-modal.clicktips(href='#test-modal-1') ?
                    #test-modal-1.mfp-hide.white-popup-block
                      h3 Description
                      p VRN number should match V between :  <br>- technical datas ticket <br>- immatriculation plate

                        .clearfix
                        a.button.large-button.primary.popup-modal-dismiss(href='#') Close

              .cell.colspan2
                  label.input-control.radio
                      input.onchange(type="radio", name="341")
                      span.check
                      span.caption  Oui
                  label.input-control.radio
                      input.onchange(type="radio", name="341")
                      span.check
                      span.caption  Non


  section
      .grid
          .row.cells6
              .cell.colspan4
                  h4.ontop VIN number compliant  
                    a.popup-modal.clicktips(href='#test-modal-2') ?
                    #test-modal-2.mfp-hide.white-popup-block
                      h3 Description
                      p VIN number should match V between :  <br>- technical datas ticket <br>- Vehicle frame

                        .clearfix
                        a.button.large-button.primary.popup-modal-dismiss(href='#') Close

              .cell.colspan2
                  label.input-control.radio
                      input.onchange(type="radio", name="342")
                      span.check
                      span.caption  Oui
                  label.input-control.radio
                      input.onchange(type="radio", name="342")
                      span.check
                      span.caption  Non

  section
      .grid
          .row.cells6
              .cell.colspan4
                  h4.ontop VIN number compliant 
        
                    a.popup-modal.clicktips(href='#test-modal-3') ?
                    #test-modal-3.mfp-hide.white-popup-block
                      h3 Description
                      p VIN number should match V  between : <br>- technical datas ticket <br>- Vehicle license

                        .clearfix
                        a.button.large-button.primary.popup-modal-dismiss(href='#') Close

              .cell.colspan2
                  label.input-control.radio
                      input.onchange(type="radio", name="343")
                      span.check
                      span.caption  Oui
                  label.input-control.radio
                      input.onchange(type="radio", name="343")
                      span.check
                      span.caption  Non

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size(disabled="disabled") Next