h2 KITAS checking
fieldset
    section
        button.button.large-button.primary.full-size KITAS Check
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next