h2 DTCO Legal parameter checking
fieldset
  button.button.large-button.primary.full-size Legal Parameter
    //- section
    //-     .grid
    //-         .row.cells12
    //-             .cell.colspan5
    //-                 h4.titop Next calibration date
    //-             .cell.colspan7
    //-                 .input-control.text.full-size
    //-                     input(type="text", placeholder="20/06/2018")

    //- section
    //-   .grid
    //-       .row.cells6
    //-           .cell.colspan4
    //-               h4.ontop New Tachograph ?
    //-           .cell.colspan2
    //-               label.input-control.radio
    //-                   input.onchange(type="radio", name="342")
    //-                   span.check
    //-                   span.caption  Oui
    //-               label.input-control.radio
    //-                   input.onchange(type="radio", name="342")
    //-                   span.check
    //-                   span.caption  Non

    //- section
    //-     .grid
    //-         .row.cells12
    //-             .cell.colspan5
    //-                 h4.titop VIN
    //-             .cell.colspan7
    //-                 .input-control.text.full-size
    //-                     input(type="text", placeholder="739AA39R733003399")

    //- section
    //-     .grid
    //-         .row.cells12
    //-             .cell.colspan5
    //-                 h4.titop VRN
    //-             .cell.colspan7
    //-                 .input-control.text.full-size
    //-                     input(type="text", placeholder="215-VN-99")

    //- section
    //-     .grid
    //-         .row.cells12
    //-             .cell.colspan5
    //-                 h4.titop Country
    //-             .cell.colspan7
    //-                 .input-control.text.full-size
    //-                     input(type="text", placeholder="F")

    //- section
    //-     .grid
    //-         .row.cells12
    //-             .cell.colspan5
    //-                 h4.titop Speed limit
    //-             .cell.colspan7
    //-                 .input-control.text.full-size
    //-                     input(type="text", placeholder="90")

    //- section
    //-     .grid
    //-         .row.cells12
    //-             .cell.colspan5
    //-                 h4.titop IMS status
    //-             .cell.colspan7
    //-                 .input-control.select.full-size
    //-                     select
    //-                         option CAN1 ESSIED
    //-                         option CAN1 ESSIED
    //-                         option CAN1 ESSIED
  

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next