h2 Starting inspection
fieldset
  section
    h4 Connect the paired workshoplink on UEV and start the reading
    button.button.large-button.primary.full-size Read the DTCO
    br
    br
  section
      .grid
          .row.cells6
            .cell.colspan4
                h4.ontop Technical datas ticket printed ? 

            .cell.colspan2
                label.input-control.radio
                    input.onchange(type="radio", name="341")
                    span.check
                    span.caption  Oui
                label.input-control.radio
                    input.onchange(type="radio", name="341")
                    span.check
                    span.caption  Non
  section
      .grid
          .row.cells6
            .cell.colspan4
                h4.ontop Anomalies and event ticket printed ?

            .cell.colspan2
                label.input-control.radio
                    input.onchange(type="radio", name="342")
                    span.check
                    span.caption  Oui
                label.input-control.radio
                    input.onchange(type="radio", name="342")
                    span.check
                    span.caption  Non

  section
      .grid
          .row.cells6
            .cell.colspan4
                h4.ontop The printout are well printed ?

            .cell.colspan2
                label.input-control.radio
                    input.onchange(type="radio", name="343")
                    span.check
                    span.caption  Oui
                label.input-control.radio
                    input.onchange(type="radio", name="343")
                    span.check
                    span.caption  Non


    
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size(disabled="disabled") Next
