h2 DTCO general checking
fieldset
    section
        .grid
            .row.cells12
                .cell.colspan8
                    h4.puls-bottom Insert Card in reader 2 
                .cell.colspan4
                    button.button.large-button.primary.full-size Send PIN
    section
      .grid
          .row.cells6
              .cell.colspan4
                  h4.ontop Software match to technical datas ticket ?

              .cell.colspan2
                  label.input-control.radio
                      input.onchange(type="radio", name="342")
                      span.check
                      span.caption  Oui
                  label.input-control.radio
                      input.onchange(type="radio", name="342")
                      span.check
                      span.caption  Non

    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop  ACTIA Soft version
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text")

    section
      .grid
          .row.cells6
              .cell.colspan4
                  h4.ontop  DTCO sealings compliant ?
              .cell.colspan2
                  label.input-control.radio
                      input.onchange(type="radio", name="343")
                      span.check
                      span.caption  Oui
                  label.input-control.radio
                      input.onchange(type="radio", name="343")
                      span.check
                      span.caption  Non

    section
        .grid
            .row.cells12
                .cell.colspan5
                    h4.titop  DTCO UTC Time
                .cell.colspan7
                    .input-control.text.full-size
                        input(type="text", placeholder="15/06/2016  15:35:24")

    //- section
    //-  button.button.large-button.primary.full-size Adjust Time
    //-  .clearfix

    section
      .grid
          .row.cells6
              .cell.colspan4
                  h4.ontop Battery replaced?
              .cell.colspan2
                  label.input-control.radio
                      input.onchange(type="radio", name="344")
                      span.check
                      span.caption  Oui
                  label.input-control.radio
                      input.onchange(type="radio", name="344")
                      span.check
                      span.caption  Non
    
    section
        .grid
            .row.cells12
                .cell.colspan8
                    h4.puls-bottom Eject Card and insert in reader 1
                .cell.colspan4
                    button.button.large-button.primary.full-size Send PIN

    section
      .grid
          .row.cells6
              .cell.colspan4
                  h4.ontop Both card reader are compliant?
              .cell.colspan2
                  label.input-control.radio
                      input.onchange(type="radio", name="349")
                      span.check
                      span.caption  Oui
                  label.input-control.radio
                      input.onchange(type="radio", name="349")
                      span.check
                      span.caption  Non
 

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size(disabled="disabled") Next
