h2 Selecting inspection type
fieldset
    section
    .grid
        .row.cells6
            .cell.colspan5
                h4.ontop Select the kind of inspection 
            .cell.colspan1
                label.input-control.radio
                    input.onchange(type="radio", name="341")
                    span.check
                    span.caption  IP&nbsp;&nbsp;&nbsp;
        .row.cells6
            .cell.colspan5
            .cell.colspan1
                label.input-control.radio
                    input.onchange(type="radio", name="341", disabled="disabled")
                    span.check
                    span.caption  E1
        .row.cells6
            .cell.colspan5
            .cell.colspan1
                label.input-control.radio
                    input.onchange(type="radio", name="341")
                    span.check
                    span.caption  IPAI

        .row.cells6
            .cell.colspan5
            .cell.colspan1
                label.input-control.radio
                    input.onchange(type="radio", name="341")
                    span.check
                    span.caption  IC

    br
    section
        .grid
            .row.cells6
                .cell.colspan4
                    h4.ontop Check if keybord is compliant 
                        a.popup-modal.clicktips(href='#test-modal-3') ?
                        #test-modal-3.mfp-hide.white-popup-block
                          h3 Description
                          p The inspection IP means …..    

                            .clearfix
                            a.button.large-button.primary.popup-modal-dismiss(href='#') Close

                .cell.colspan2
                    label.input-control.radio
                        input.onchange(type="radio", name="342")
                        span.check
                        span.caption  Oui
                    label.input-control.radio
                        input.onchange(type="radio", name="342")
                        span.check
                        span.caption  Non
    section
      .grid
          .row.cells6
              .cell.colspan4
                  h4.ontop Check if display is compliant 
              .cell.colspan2
                  label.input-control.radio
                      input.onchange(type="radio", name="343")
                      span.check
                      span.caption  Oui
                  label.input-control.radio
                      input.onchange(type="radio", name="343")
                      span.check
                      span.caption  Non

fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size(disabled="disabled") Next
  

