h2 Create Report
fieldset
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  
        | Insert Workshop Card into WorkshopTab Card Reader 
        a.popup-modal.clicktips(href='#test-modal-1') ?
    button.button.large-button.primary.right-pull  Produce Tachograph Record Sheet and Calibration Plaque     
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-2') ?
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  section.clearfix
    button.button.large-button.primary.right-pull  Print the report and inspection report     
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-3') ?
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
br
br
fieldset
  header
    h3 
      | Backup data 
      a.popup-modal.clicktips(href='#test-modal-4') ?
fieldset
  section.even
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Attach Calibration Plaque to vehicle door pillar
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Seal the Calibration Plaque with the sealing foil
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  If you want have Print the filled Checklist for Archive
fieldset.onbottom
  #test-modal.mfp-hide.white-popup-block
      //- h1 Hint
      p
        | Checklist not completely filled out.
      p
        a.popup-modal-dismiss(href='#') Back
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
          button.button.large-button.primary.full-size Print
        .cell
          //- button.button.large-button.primary.full-size Finish
          a.button.large-button.primary.full-size.popup-modal(href='#test-modal') Finish



#test-modal-1.mfp-hide.white-popup-block
  h3 Description
  p Workshop card’s data are archived automatically.
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close


#test-modal-2.mfp-hide.white-popup-block
  h3 Description
  p Press the button and start the Report Function.<br><br>Record in the calibration report possible specific anomalies/abnormal detections.<br><br>- Print out calibration report and installation label<ul><li>Verify the data of calibration report/installation label with the last print out of technical data</li></ul>
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close

#test-modal-3.mfp-hide.white-popup-block
  h3 Description
  p Print and sign the inspection report. Archive the inspection report together with the calibration report
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close

#test-modal-4.mfp-hide.white-popup-block
  h3 Description
  p Archive the calibration report with the 4 (5) tachograph’s print outs.
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close
