h2 DTCO Parameterisation, Adaption and Tolerance Check
fieldset
  section.clearfix
    button.button.large-button.primary.right-pull  Check, confirm or update legal parameters of VU and Check date and UTC time    
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-1') ?

      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  section.clearfix
    button.button.large-button.primary.right-pull  Measure ‘W’ and ‘L’    
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-2') ?

      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  section.clearfix
    button.button.large-button.primary.right-pull  TCO Check    
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-3') ?
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  section.clearfix
    button.button.large-button.primary.right-pull  Test Track   
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-4') ?
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
  

fieldset
  section
    label.input-control.checkbox
      input(type='checkbox', name='checkbox2')
      span.check.place-right
      span.caption  Eject the Workshopcard and generate Technical data
fieldset
  section.clearfix
    button.button.large-button.primary.right-pull  Control Error Memory    
    .pull-left-tip
      a.popup-modal.clicktips(href='#test-modal-5') ?
      label.input-control.checkbox
        input(type='checkbox', name='checkbox1')
        span.check
fieldset.onbottom
  section
    .grid
      .row.cells3
        .cell
          button.button.large-button.primary.full-size Prev
        .cell
        .cell
          button.button.large-button.primary.full-size Next


#test-modal-1.mfp-hide.white-popup-block
  h3 Description
  p - Check UTC date and time. Actualise if a deviation > 1min.<br>- UTC time is not local time. Make sure that the settings in your test device are correct!<br>- WorkshopTab shoes the local time, the shown local time is changed in to the UTC-time automatically by the WorkshopTab<br>- Check the following parameter and actualise if required: odometer value, VIN, installation date, date (next) calibration, max. speed, country of origin, VRN, tire size<br>
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close

#test-modal-2.mfp-hide.white-popup-block
  h3 Description
  p - At this point it’s depending of the measurement method<br>Street: - Measure dynamic e.g with the Tyre Meter and program tire circumference (l figures)<br>- Measure and program vehicle constant (w figures). <br><ul><li>Important hint: program w-value always with the next step.</li></ul>Bench: - Measure dynamic e.g with the Tyre Meter and program tire circumference (l figures)<br>- Vehicle stand on the roller, let roller run<br>- Start the w/l Calibration and follow the instruction the menue<br>- When the measurement is finished, roller stop<br>- <b>Watch display, the WorkshopTab shows the determined correction value, please note to fill in these later in the Report</b><br>- Adapt w-k<br><ul><li>With the adaption the l-value is also adopted in the DTCO</li><li><b>If required, the vehicle can leave the roller bench again</b></li></ul>
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close

#test-modal-3.mfp-hide.white-popup-block
  h3 Description
  p T- Measure the accuracy of the odometer (device tolerance test). Max. failure +/- 1 %<br>- Measure the accuracy of the speed display (device tolerance test) with the function “Variable Speed”. Measurement points: 20, 80 and 180 km/h. Max. failure +/- 1 km
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close

#test-modal-4.mfp-hide.white-popup-block
  h3 Description
  p Recommendation: conduct a test drive. Note and correct possible complaints.<b>Vehicles with IMS:</b> during the test drive no “Motion conflict” nor “IMS error” may appear on the display.
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close

#test-modal-5.mfp-hide.white-popup-block
  h3 Description
  p (That is the text for the Error memory)Eject workshop card and during the ejection confirm “Day Values” with “yes” (only cometitve devices: create print out before ejecting the workshop card).<br><ul><li>Check the print out concerning registration of activities during the calibration and, if applicable the test drive.</li></ul>- Remove the workshop card and generate a “Technical Data” (3) print out. The print out must contain the calibration data of the actual calibration.<ul><li>Attention: without workshop card!</li><li>Check print out</li></ul>- Read out the DTCO’s error memory with the WorkshopTab and delete it.<ul><li>If errors are still active in the DTCO they must be judged according to the targets in </li></ul>Menue TCO Info / Mass Memory and the apointed measures must be taken. Afterwards clear the error memory.<br>- Remove the old installation label.
    .clearfix
    a.button.large-button.primary.popup-modal-dismiss(href='#') Close
