@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../fonts/pfdintextcomppro-thin.eot");
  src: local('☺'), url("../fonts/pfdintextcomppro-thin.woff") format('woff'), url("../fonts/pfdintextcomppro-thin.ttf") format('truetype'), url("../fonts/pfdintextcomppro-thin.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
input:focus {
  outline: none;
}
body {
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: url("../img/bg-1.jpg") repeat-y 0 0;
}
#content {
  background: url("../img/bg-3.png") repeat-x 0 -200px;
}
#content .container {
  padding-top: 55px;
}
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
header {
  height: 100px;
  background: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
}
ul {
  margin: 0;
}
header .col-1,
header .col-2,
header .col-3,
footer .col-1,
footer .col-2,
footer .col-3 {
  float: left;
  width: 382px;
}
header .col-2,
footer .col-2 {
  width: 216px;
  text-align: center;
  padding-top: 34px;
}
header .col-3,
footer .col-3 {
  width: 370px;
}
header {
  color: #303030;
}
header .col-3 .cart {
  float: right;
  padding-top: 37px;
  padding-bottom: 87px;
  font-size: 16px;
  cursor: pointer;
  padding-left: 62px;
  background: url("../img/cart.png") no-repeat 20px 30px;
  position: relative;
  z-index: 222;
}
header .col-3 .cart:hover + .modal-cart {
  display: block;
}
.links ul,
.links li {
  margin: 0;
  padding: 0;
}
.links li {
  list-style: none;
  font-size: 16px;
  background: url("../img/technology.png") no-repeat 0 1px;
  padding-left: 35px;
  padding-top: 2px;
  padding-bottom: 4px;
  margin-bottom: 5px;
}
.links li a {
  color: #303030;
}
.links li a:hover {
  text-decoration: none;
}
.links li:first-child {
  margin-top: 20px;
}
.links li:last-child {
  background: url("../img/mail.png") no-repeat 0 5px;
}
.btn {
  height: 36px;
  background-color: #9f79a1;
  display: inline-table;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  line-height: 34px;
  padding: 0 20px;
  border: 0;
}
.btn:hover {
  opacity: 0.8;
}
.btn.primary {
  background: none;
  border: 1px solid #9f79a1;
  color: #9f79a1 !important;
  height: 34px;
  line-height: 32px;
}
.btn:hover {
  background: #9f79a1;
  color: #fff !important;
}
#content .logo {
  display: block;
  text-align: center;
  margin: 0 auto 55px;
}
#content .info-block {
  text-align: center;
  margin-bottom: 60px;
}
#content .info-block span {
  background: url("../img/li.png") no-repeat right 13px;
  color: #2f2f2f;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 38px;
  margin-left: 28px;
}
#content .info-block span:last-child {
  background: none;
}
#content h1.title {
  color: #8fc1c1;
  font-family: "PF Din Text Comp Pro";
  font-size: 90px;
  font-weight: normal;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#content .product {
  overflow: hidden;
}
#content .product .item {
  position: relative;
  float: left;
  width: 50%;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
#content .product .item .description {
  display: none;
}
#content .product .item img.prev,
#content .product .item img.next {
  display: none;
}
#content .product .item a {
  display: block;
  text-align: center;
  color: #2f2f2f;
  text-decoration: none;
}
#content .product .item a:hover {
  text-decoration: underline;
}
#content .product .item img {
  margin-bottom: 30px;
}
#content .product .item .product-name {
  font-size: 24px;
  color: #303030;
  font-weight: 600;
  margin-bottom: 15px;
}
#content .product .item .colors {
  background: #fff;
  overflow: hidden;
  clear: both;
  width: 960px;
  border: 1px solid #a07aa1;
  border-top: 0;
  border-radius: 0 10px 10px 10px;
  margin-left: -21px;
  display: none;
}
#content .product .item .colors table {
  background: #fff;
  position: relative;
  top: -2px;
  color: #2f2f2f;
}
#content .product .item .colors table tr:first-child td:nth-child(4) {
  border-top: 1px solid #a07aa1;
}
#content .product .item .colors table tr:first-child td {
  padding-top: 35px;
}
#content .product .item .colors table tr:last-child td {
  padding-bottom: 30px;
}
#content .product .item .colors table td {
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}
#content .product .item .colors table td:nth-child(1) {
  width: 194px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #303030;
  line-height: 60px;
}
#content .product .item .colors table td:nth-child(2) {
  width: 324px;
  font-size: 16px;
  padding-top: 39px;
}
#content .product .item .colors table td:nth-child(2) input[type="text"] {
  background: none;
  border-radius: 4px;
  width: 44px;
  height: 30px;
  float: left;
  margin-top: -5px;
  margin-right: 20px;
  font-weight: 600;
  text-align: center;
}
#content .product .item .colors table td:nth-child(2) span {
  float: left;
  margin-right: 10px;
  font-size: 14px;
}
#content .product .item .colors table td:nth-child(3) {
  width: 172px;
  text-align: center;
  font-size: 16px;
}
#content .product .item .colors table td:nth-child(4) {
  width: 219px;
  text-align: center;
}
#content .product .item .colors table td .btn {
  max-width: 180px;
  display: inline-table;
  font-size: 14px;
  padding: 0 15px;
  height: 30px;
  line-height: 26px;
}
#content .product .item .colors table td img {
  float: left;
  margin-right: 10px;
  margin-bottom: 0 !important;
}
#content .product .item .colors table td strong {
  font-weight: 600;
}
#content .product .item.active {
  background: #fff;
  border: 1px solid #a07aa1;
  border-bottom: 0;
  width: 75%;
  border-radius: 10px 10px 0 10px;
  margin-bottom: 94px;
}
#content .product .item.active .colors {
  display: block;
}
#content .product .item.active .description {
  display: block;
}
#content .product .item.active img.prev,
#content .product .item.active img.next {
  display: none;
}
#content .product .item.active a {
  text-align: left;
  text-decoration: none;
}
#content .product .item.active img.pic {
  float: left;
  margin-right: 30px;
  margin-bottom: 60px;
}
#content .product .item.active p {
  color: #808080;
  line-height: 1.5;
}
#content .product .item.active .product-name + img {
  display: none;
}
#content .product .item.active:last-child {
  border-radius: 10px 10px 10px 10px;
}
#content .product .item.active:last-child .colors {
  margin-left: -248px;
  border-radius: 10px 0px 10px 10px;
}
#content .product .item.active:last-child .colors table tr:first-child td:nth-child(1) {
  border-top: 1px solid #a07aa1;
}
#content .product .item.active:last-child .colors table td:nth-child(4) {
  border: 0;
}
#content .product .item.disable:first-child img.next {
  display: none;
}
#content .product .item.disable:first-child img.prev {
  display: block;
}
#content .product .item.disable:last-child img.prev {
  display: none;
}
#content .product .item.disable:last-child img.next {
  display: block;
}
#content .product .item img.next,
#content .product .item img.prev {
  position: absolute;
  top: 50%;
  margin-top: -12px;
}
#content .product .item img.next {
  right: 0;
}
#content .product .item img.prev {
  left: 0;
}
#content .product .item.disable {
  width: 25%;
  margin: -1px;
}
#content .product .item.disable .description {
  display: none;
}
#content .product .item.disable img.pic {
  width: 85%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
#content .product .item.disable .product-name + img {
  display: none;
}
#buy-now {
  background: #fff;
  min-height: 80px;
  padding-bottom: 40px;
  display: block;
}
#buy-now .location {
  display: block;
  text-align: center;
}
#buy-now .location a {
  color: #a07aa1;
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 45px;
  display: inline-table;
  font-weight: 300;
}
#buy-now .location a:hover {
  text-decoration: none;
}
#footer {
  height: 100px;
  background-color: #f7f7f7;
  box-shadow: 0 -1px 0 #eaeaea;
  overflow: hidden;
}
#footer .col-3 {
  text-align: right;
  margin-top: 40px;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 300;
}
#footer .col-3 a {
  color: #1893d2;
}
#footer .col-3 a:hover {
  text-decoration: none;
}
#overlay {
  opacity: 0.3;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  background: #000;
  display: none;
}
#modal-form {
  width: 340px;
  height: 307px;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -170px;
  z-index: 9999;
  display: none;
}
#modal-form .close {
  background: url("../img/close.png");
  width: 12px;
  height: 13px;
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
}
#modal-form h4 {
  color: #2f2f2f;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
#modal-form input[type="text"] {
  width: 280px;
  margin-left: 30px;
}
#modal-form input.btn {
  display: table;
  margin: 30px auto 0;
  padding: 0 30px;
}
input[type="text"] {
  height: 40px;
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  color: #a7a7a7;
  font-size: 14px;
  display: block;
  margin-bottom: 13px;
  padding: 5px 10px;
  box-sizing: border-box;
}
input.btn {
  height: 39px;
  line-height: 39px;
  cursor: pointer;
}
.modal-cart {
  position: absolute;
  right: 0;
  width: 274px;
  background: #f7f7f7;
  top: 130px;
  box-sizing: border-box;
  padding: 18px;
  border: 1px solid #ededed;
  z-index: 100;
  text-align: center;
  display: none;
}
.modal-cart .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  left: 50%;
  margin-left: -10px;
  top: 0;
  margin-top: -18px;
  border-width: 0 14px 18px 14px;
  border-color: transparent transparent #f7f7f7 transparent;
  z-index: 2;
}
.modal-cart .triangle.fake {
  margin-top: -19px;
  border-color: transparent transparent #eaeaea transparent;
  z-index: 1;
}
.modal-cart ul {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eaeaea;
}
.modal-cart ul li {
  list-style: none;
  margin-bottom: 10px;
  font-weight: 600;
  height: 60px;
  display: block;
  line-height: 60px;
  vertical-align: middle;
  text-align: left;
}
.modal-cart ul li img {
  margin-right: 18px;
  float: left;
}
.modal-cart:hover {
  display: block;
}
#map_canvas {
  width: 100%;
  margin: 43px 0 0;
  height: 400px;
  display: none;
}
