html {
    background: #fff;
    margin: 0;
    padding: 0;
}
body {
    background:  #fff;
    overflow: auto;
    width:auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.app {
    overflow: auto;
    width:auto;
    height: auto;
}
.app-panel,
.app-panel .cell-wrapper
{
    float: none;
    overflow: auto;
    width:auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.app-panel .cell-wrapper {}
.app-panel .wt-form {
    height: auto;
    overflow: auto;
}
.wt-row__code {
    page-break-inside: avoid;
}
.app-header, .app-sidebar, .app-footer, .wt-form--footer {
    display: none;
}
