
<div>
  <h2 ng-if="mode === 'new'" class="ui header">Add Farm</h2>
  <h2 ng-if="mode !== 'new'" class="ui header">Edit Farm</h2>
  <form class="ui form">
    <div class="inline fields">
      <div class="twelve wide field">
        <label>Name</label>
        <input type="text" name="first-name" value="Wheat farm"/>
      </div>
      <div class="four wide field">
        <div class="ui toggle checkbox">
          <input type="checkbox" checked="checked" tabindex="0" class="hidden"/>
          <label>Enable</label>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Area</label>
      <select name="area" class="ui dropdown">
        <option value="sri-lanka">Colombo</option>
      </select>
    </div>
    <div class="field">
      <label>Location</label>
      <location></location>
    </div>
    <div class="field">
      <label>Type</label>
      <select ui-select="ui-select" disabled="disabled">
        <option selected="selected">AGTL plantations</option>
        <option>Out-grower farms</option>
      </select>
    </div>
    <div class="field">
      <label>Farm Manager</label>
      <select name="area" class="ui dropdown">
        <option value="sri-lanka">John Doe</option>
      </select>
    </div>
    <button ui-sref="^" class="ui teal button">Save</button>
    <button ui-sref="^" class="ui black button">Cancel</button>
  </form>
</div>